absl-py==2.0.0
anyio==4.3.0
arrow==1.3.0
boltons @ file:///work/ci_py311/boltons_1677685195580/work
Brotli==1.1.0
brotlipy==0.7.0
certifi @ file:///croot/certifi_1690232220950/work/certifi
cffi @ file:///work/ci_py311/cffi_1676822533496/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
click-didyoumean==0.3.0
conda @ file:///croot/conda_1694544150384/work
conda-content-trust @ file:///work/ci_py311/conda-content-trust_1676851327497/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1685032319139/work/src
conda-package-handling @ file:///croot/conda-package-handling_1690999929514/work
conda_package_streaming @ file:///croot/conda-package-streaming_1690987966409/work
cryptography @ file:///croot/cryptography_1686613057838/work
dearpygui==1.10.1
empy==4.0.1
etils==1.6.0
fsspec==2023.12.2
glfw==2.6.4
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
idna @ file:///work/ci_py311/idna_1676822698822/work
importlib-resources==6.1.1
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
libmambapy @ file:///croot/mamba-split_1694187754698/work/libmambapy
mujoco==3.1.1
mutagen==1.47.0
numpy==1.26.3
packaging @ file:///croot/packaging_1693575174725/work
pillow==10.2.0
pluggy @ file:///work/ci_py311/pluggy_1676822818071/work
pycosat @ file:///work/ci_py311/pycosat_1676838522308/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodomex==3.20.0
pylast==5.2.0
PyOpenGL==3.1.7
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyperclip==1.8.2
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
pysqlite3==0.5.2
python-dateutil==2.8.2
requests @ file:///croot/requests_1690400202158/work
ruamel.yaml @ file:///work/ci_py311/ruamel.yaml_1676838772170/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.1
svg.path==6.3
td-watson==2.1.0
toolz @ file:///work/ci_py311/toolz_1676827522705/work
tqdm @ file:///croot/tqdm_1679561862951/work
types-python-dateutil==2.8.19.14
typing_extensions==4.9.0
urllib3==2.2.1
websockets==12.0
yewtube @ git+https://github.com/mps-youtube/yewtube.git@0c1e39d51f5d4c6e1bea25b72c00900aab991e37
youtube-search-python==1.6.6
yt-dlp==2024.3.10
zipp==3.17.0
zstandard @ file:///work/ci_py311_2/zstandard_1679339489613/work
